GRAFANA_IMAGE_NAME=grafana-local
GRAFANA_IMAGE_TAG=11.5.0
GRAFANA_CONTAINER_NAME=grafana
GRAFANA_HOSTNAME=grafana
GRAFANA_RESTART_POLICY=unless-stopped
GRAFANA_NETWORK_NAME=grafana_net
GRAFANA_NETWORK_DRIVER=bridge
GRAFANA_BIND_HOST=0.0.0.0
GRAFANA_BIND_PORT=3000
GRAFANA_SERVER_PORT=3000
GRAFANA_SERVER_DOMAIN=localhost
GRAFANA_SERVER_ROOT_URL=http://localhost:3000
GRAFANA_CPU_LIMIT=1.00
GRAFANA_MEMORY_LIMIT=512m
GRAFANA_ADMIN_USER=admin
GRAFANA_ADMIN_PASSWORD=change-me-password
GRAFANA_DATABASE_TYPE=mysql
GRAFANA_DATABASE_HOST=mariadb:3306
GRAFANA_DATABASE_NAME=grafana
GRAFANA_DATABASE_USER=grafana
GRAFANA_DATABASE_PASSWORD=change-me-password
GRAFANA_DATABASE_SSL_MODE=disable
GRAFANA_DATABASE_MAX_OPEN_CONN=100
GRAFANA_DATABASE_MAX_IDLE_CONN=25
GRAFANA_DATABASE_CONN_MAX_LIFETIME=14400
GRAFANA_DATASOURCE_MARIADB_NAME=puma_core
GRAFANA_DATASOURCE_MARIADB_HOST=mariadb:3306
GRAFANA_DATASOURCE_MARIADB_DATABASE=puma_core
GRAFANA_DATASOURCE_MARIADB_USER=root
GRAFANA_DATASOURCE_MARIADB_PASSWORD=change-me-password
