MAIL_STORAGE_IMAGE_NAME=mail-storage
MAIL_STORAGE_IMAGE_TAG=latest
MAIL_STORAGE_CONTAINER_NAME=mail-storage
MAIL_STORAGE_HOSTNAME=mail-storage
MAIL_STORAGE_RESTART_POLICY=unless-stopped
MAIL_STORAGE_PORT=143
MAIL_STORAGE_CPU_LIMIT=0.5
MAIL_STORAGE_MEMORY_LIMIT=512m
