MAIL_STORAGE_IMAGE_NAME=mail-storage
MAIL_STORAGE_IMAGE_TAG=latest
MAIL_STORAGE_CONTAINER_NAME=mail-storage
MAIL_STORAGE_HOSTNAME=mail-storage
MAIL_STORAGE_RESTART_POLICY=unless-stopped
MAIL_STORAGE_PORT=143
MAIL_STORAGE_CPU_LIMIT=0.5
MAIL_STORAGE_MEMORY_LIMIT=512m

SMTP_BIND_HOST=0.0.0.0
SMTP_BIND_PORT=25
SMTP_MYHOSTNAME=mail.example.com
SMTP_MYDOMAIN=example.com
SMTP_MYDESTINATION="$SMTP_MYHOSTNAME, localhost.$SMTP_MYDOMAIN, localhost"
SMTP_MYNETWORKS=127.0.0.0/8
